<div>
  <% if costume.photo.attached? %>
    <%= cl_image_tag costume.photo.key, width: 80, height: 80 %>
  <% else %>
    <%= [image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/v1660254929/justin-jason-NZlbve4F1xk-unsplash_exnsiv.jpg"), image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/v1660254926/karsten-winegeart-ewfHXBcuFA0-unsplash_cffclz.jpg"), image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/v1660254926/kerwin-elias-7-ToFEHzMNw-unsplash_ffseqw.jpg"), image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/v1660254926/karsten-winegeart--_gMskl-uoc-unsplash_ldomqk.jpg")].sample %>
  <% end %>
  </div>
<h2><%= link_to costume.name, costume_path(costume)%></h2>
<p><%= costume.address %></p>
