<div class="container page-top">
  <h1>Costumes</h1>

  <div class="row ">
    <div class="col-3 p-3">
      <% @costumes.each do |costume| %>
        <%= render 'shared/card', costume: costume%>
      <% end %>
    </div>
  </div>
</div>
