<h1 class="page-top">Costumes</h1>
<div class="index-container">
  <%= render 'shared/map' %>


  <div class="costumes-card-container">
    <% @costumes.each do |costume| %>
      <%= render 'shared/card', costume: costume %>
    <% end %>
  </div>
</div>
