<div class="container">
  <h1>Costumes</h1>

  <div class="d-flex justift-content-evenly flex-wrap">
    <% @costumes.each do |costume|%>
      <div>
        <%= costume%>
      </div>
    <% end %>
  </div>
</div>
