<div class="cpage-top">
  <h1>Costumes</h1>

  <div class="ostumes-card-container">
    <div class="">
      <% @costumes.each do |costume| %>
        <%= render 'shared/card', costume: costume%>
      <% end %>
    </div>
  </div>
</div>
