<div class="card-product">
  <img src="https://hips.hearstapps.com/clv.h-cdn.co/assets/17/28/1499868023-pet-costume5.jpg?crop=0.998xw:0.666xh;0.00173xw,0.317xh&resize=480:*">
  <div class="card-product-infos">
    <h1><%= @costume.name%></h1>
    <h2><%= @costume.animal_type %></h2>
    <p><%= @costume.description%></p>
  </div>
</div>
