<%= cl_image_tag booking.costume.photo.key, width: 80, height: 80 %>
<% number_of_days = booking.date_end - booking.date_start %>
<p><%= pluralize number_of_days.to_i, "day" %></p>
<p><%= booking.date_start.to_s %></p>
<p><%= booking.date_end.to_s %></p>
