<h2> <%="Your booking #{@booking.costume.name} from #{@booking.date_start.strftime('%d %B %Y')} to #{@booking.date_end.strftime('%d %B %Y')}"%>  </h2>
<p>Change the dates below:</p>
<%# render  'shared/' %>
