<h2 style="padding-top: 100px">My Bookings</h2>
  <% @bookings.each do |booking| %>

      <div>
        <h2> <%= booking.costume.name %> </h2>
        <h3> <%= "#{booking.date_start.strftime('%d %B %Y')} - #{booking.date_end.strftime('%d %B %Y')} "%> </h3>
      </div>
      <div>
        <%= link_to "Edit this booking", costume_booking_path(booking)%>
        <%= link_to "Delete", costume_booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
  <% end %>
