<div class="user-main">
  <h1>Hi, <%= @user.first_name.capitalize %></h1>
  <h4>Your Rentals</h4>
  <div class="cards">
  <div class="row">
    <div class="col-sm card border ps-3 pe-3 ms-3 me-3">
      <img src="https://placehold.co/600x400" alt="" class="card-img-top">
      <p>Rental Card Here</p>
    </div>
    <div class="col-sm card border ps-3 pe-3 ms-3 me-3">
      <img src="https://placehold.co/600x400" alt="" class="card-img-top">
      <p>Rental Card Here</p>
    </div>
    <div class="col-sm card border ps-3 pe-3 ms-3 me-3">
      <img src="https://placehold.co/600x400" alt="" class="card-img-top">
      <p>Rental Card Here</p>
    </div>
  </div>
</div>
</div>
