<div class="user-main">
  <h1>Hi, <%= @user.first_name.capitalize %></h1>
  <h4>Your Rentals</h4>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <%= link_to costume_path(booking.costume_id), class: "card-link-no-deco" do %>
        <%= render "bookings/user_bookings", booking: booking %>
      <% end %>
    <% end %>
  </div>
</div>
