<div class="banner">
  <div class="container">
    <h1>Awesome costumes to rent for your pawtastic friend</h1>
    <div class="mock-search">
      <p class="mock-input">find pawsome costumes near you</p>
      <a class="button" href="#">search</a>
    </div>
  </div>
</div>
