<nav class="nav">
  <div class=" nav navbar-left col-3 sticky-top">
    <%= link_to "/" do %>
      <i class="fa-solid fa-paw"></i>
    <% end %>
    <h2>Pawsome Rentals</h2>
  </div>
  <div class="nav navbar-middle col-6">
    <h4>Browse <i class="fa-solid fa-chevron-down"></i></h4>
    <h4>About</h4>
    <h4>Contact <i class="fa-solid fa-comments"></i></h4>
  </div>
  <div class="nav navbar-right col-3">
    <% if user_signed_in? %>
      <h4>Hello, <%= current_user.first_name.capitalize %></h4>
      <div class="avatar">
        <i class="fa-solid fa-user"></i>
      </div>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "login-button logout" %>
    <% else %>
      <%= link_to "login", new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</nav>
