<div class="about-main">
  <span>
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dignissimos ratione ab eos fugit quia accusantium nostrum earum voluptatem placeat maxime nemo, voluptatum, incidunt rem, quaerat obcaecati dolorem ipsam deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores totam facilis temporibus iste culpa aut dolor veniam vero quidem incidunt, itaque quo accusantium facere ipsa at sed cupiditate expedita qui!
    </p>
  </span>
  <div class="">
    <%= render 'shared/dog-walking' %>
  </div>
</div>
