<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%# just a test that we can use all images from my cloudinary folder %>
<%# <%= cl_image_tag("https://res.cloudinary.com/le-wagon-london-campus-batch-904/image/upload/v1659300733/pawsome_rentals/ghostbusters-deluxe-dog-costume_13769385_dbrxwj.jpg",
      width: 400, height: 300, crop: :fill) %> %>
