.page-top {
  padding-top: 100px;
  padding-bottom: 8px;
}

.index-container {
  display: flex;
  h1 {
    padding-top: 100px;
    text-align: center;
  }
}

.costumes-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 100px;
  width: 70%;
  transform: translate(430px, 10px);
  position: absolute;
}

.product-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: bold;
    color: black;
    &:hover {
      color: rgba(0, 0, 0, 0.332);
    }
  }
}

.product-name-and-avatar {
  display: flex;
  flex-direction: column;

  img {
    position: relative;
    z-index: 1;
    top: -25px;
    left: 10px;
    width: 50px;
    height: 50px;
  }
}

.card-border {
  margin: 8px 8px;
  padding: 8px 8px;
  border: 1px solid #90AACB;
  border-radius: 4px;
}

.card-link-no-deco {
  text-decoration: none;
}
