.index-top {
  display: flex;
  position: fixed;
  top: 110px;
  width: 35%;
  .index-top-filters {
    display: flex;
    left: 267px;
    position: absolute;
    img {
      height: 50px;
      width: 50px;
    }
    a {
      text-decoration: none;
      padding: 8px 24px;
    }
  }
}

#dog-filter, #cat-filter {
  display: flex;
}

.index-container {
  display: flex;
  padding-top: 80px;
}

.costumes-card-container {
  padding-left: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
  transform: translate(430px, 10px);
  position: absolute;
}

.product-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: bold;
    color: black;
    &:hover {
      color: rgba(0, 0, 0, 0.332);
    }
  }
}

.product-name-and-avatar {
  display: flex;
  flex-direction: column;

  img {
    position: relative;
    z-index: 1;
    top: -25px;
    left: 10px;
    width: 50px;
    height: 50px;
  }
}

.card-border {
  margin: 8px 8px;
  padding: 8px 8px;
  border: 1px solid #90AACB;
  border-radius: 4px;
}

.card-link-no-deco {
  text-decoration: none;
}

.booking-page-product-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.booking-product-name-and-avatar {
  display: flex;
  flex-direction: column;

  img {
    position: relative;
    z-index: 1;
    top: -65px;
    left: -22px;
    width: 50px;
    height: 50px;
  }
}
