.page-top {
  padding-top: 100px;
  padding-bottom: 8px;
}
.product-card {
  padding: 4px 4px;

}

.costumes-card-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 16px 0;
  padding: 0 8px;
}

.product-name {
  display: flex;
  justify-content: space-between;
}

.product-name-and-avatar {
  display: flex;
  flex-direction: column;
}
